# these are generated build artifacts
Makefile.in
aclocal.m4
config.in
configure
Makefile
autom4te.cache
.deps
.dirstamp
*~
config.h
config.log
config.status
conf.py
configure.h
libtool
stamp-h1
libmemcached-fc.spec
libmemcached.pc
*.o
tests/
memcached/memcached
*.lo
*.la
.libs
libtest
example
clients
c_sasl_test
c_test
cc_test
config/test-driver
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
m4/libtool.m4
